:root {
    --font: 'Monserrat', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --bg: #1a1c20;
    --main-color: #FE2E2E;
    --main-font-color: #fdfbfb;
    --sec-font-color: #fcf1f1b4;
}

body {
    overflow-x: hidden;
    background: var(--bg);
}

/*Navbar*/

.primera{
    background: #1D242B;
   font-family: var(--font);
   color: var(--main-font-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    width: 85%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
}

.checkBtn {
    display: none;
}

.nav .logo {
    font-size: 2em;
}

.nav ol {
    list-style: none;
}

.nav ol a {
    text-decoration: none;
    color: #fcf1f1b4;
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
}

.nav ol a:hover {
    transition: background .8s;
    background: var(--main-color);
}

.logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: 2rem;
    color: white;
    margin: 0.3em;
}

/*slider*/

.container {
    margin: auto;
    background-color: var(--bg);
    width: 800px;
    padding: 30px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: inherit;
    height: inherit;
    background-color: #fff;
    transition: opacity .5s;
}

ul.slider li img {
    width: 100%;
    height: 300px;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menuu {
    text-align: center;
    margin: 20px;
}

.menuu li {
    display: inline-block;
    text-align: center;
}

.menuu li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}



/* TXT AND IMAGE */

.contenedortext {
    margin-top: 10px;
    display: flex;
    padding: 25px;
}

.txt {
    color: var(--main-font-color);
    padding-left: 25px;
}

.contenedortext img {
    border-radius: 14px;
}

/* CARDS */



/* FOOTER */

footer {
    background: var(--bg);
    height: auto;
    width: 100vw;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3em;
}

.footer-bottom {
    background: #1D242B;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}